<%- include ../_layouts/adminheader%>


    <div class="container px-12">
        <h2 class="text-center text-blue-400 text-lg ">Add a page</h2>
        <a href="/admin/pages" class="py-2 uppercase rounded my-8 px-2 bg-blue-500 text-white font-bold">Back to all pages</a>
        <br><br>
        <form action=" /admin/pages/add-page" class="flex flex-col  " method="post">
            <div class="form-group">
                <label class="text-xl text-gray-500" for="">Title</label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="title" name="title" value="<%= title %>">
            </div>

            <div class="form-group">
                <label class="text-xl text-gray-500" for="">Slug</label>
                <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="slug" name="slug" value="<%= slug %>">
            </div>
            <div class="form-group">
                <label class="block text-xl text-gray-500" for="">Content</label>
                <textarea name="content" class="shadow md:w-full  border focus:outline-none rounded space-y-4" id="ta" cols="30" rows="10"><%=content%></textarea>
            </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
        </form>
    </div>


    <%- include ../_layouts/adminfooter%>